bin
dist
build
target
test-output
logs
tmp
.history
.classpath
.project
.settings
*.log
*.bak
*.class
.metadata
rebel.xml
/*.iml
/out
/.target
/.idea
/.idea_modules
/RUNNING_PID
/osgi/lib/configuration